[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
python-dotenv = "*"
django-cors-headers = "*"
django-summernote = "*"
pillow = "*"
django-heroku = "*"
dj-database-url = "*"
gunicorn = "*"
channels = "*"
channels-redis = "*"

[dev-packages]

[requires]
python_version = "3.9"
